//first page
#Firstbody{
    background-image: url(../images/landscape.jpg);
    width: 96rem;
    height: 45rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.Charmander{
    border-radius: 50%;
    width: 19rem;
    height: 19rem;
}
.group{
    display: flex;
    justify-content: space-evenly;
}
#pi3{
    float: right;
}
.row1{
    display: flex;
    justify-content: space-evenly;
    float: left;
    padding-left: 50px;
    padding-top: 100px;

}
.row2{
    display: flex;
    justify-content: space-evenly;
    float: right;
    padding-right: 50px;
    padding-top: 100px;

}
//charmander
.colorO{
    background-color: #9C531F;
    margin-left: 35rem;
    margin-right: 35rem;
    padding-left: 4px;
    padding-right: 4px;
}
.mainO{
    background-color: #F08030;
}
.card{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard{
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
}
#imgchar{
    width: 20rem;
    height: 20rem;
}
.type{
    background-color: #F08030;
    color: white;
}
.card2{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-bottom: 2px;
}
.Wcard2{
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.card3{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-bottom: 2px;
}
.Wcard3{
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.HxW{
    display: flex;
    justify-content: space-evenly;
}
.card4{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-bottom: 2px;
}
.Wcard4{
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hp{
    background-color: red;
    display: flex;
    flex-direction: column;
}
.atk{
    background-color: #F08030;
    display: flex;
    flex-direction: column;
}
.def{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.sp-atk{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}
.sp-def{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}
.sped{
    background-color: rgba(248, 10, 10, .5);
    display: flex;
    flex-direction: column;
}
