//first page
#Firstbody{
    background-image: url(../images/landscape.jpg);
    width: 96rem;
    height: 45rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.Charmander{
    border: black solid 5px;
    border-radius: 50%;
    width: 19rem;
    height: 19rem;
}
.group{
    display: flex;
    justify-content: space-evenly;
}
#pi3{
    float: right;
}
.row1{
    display: flex;
    justify-content: space-evenly;
    float: left;
    padding-left: 50px;
    padding-top: 100px;
    border: black solid 5px;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    float: right;
    padding-right: 50px;
    padding-top: 100px;
    border: black solid 5px;
}
//charmander
.colorO{
    background-color: #9C531F;
    margin-left: 20rem;
    margin-right: 20rem;
    padding-left: 4px;
    padding-right: 4px;
}
.mainO{
    background-color: #F08030;
}
.card{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#imgchar{
    width: 20rem;
    height: 20rem;
}
.card2{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard2{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card3{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard3{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card4{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard4{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card5{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard5{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card6{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard6{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card7{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard7{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card8{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard8{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card9{
    background-color: #F5AC78;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Wcard9{
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}